.contents{
    font-size: 15px;
    text-align: justify;
    color: white;
}

@media only screen and (max-width: 870px)
{
    .contents{
  font-size: 12px;
  text-align: justify;
  color: white;
}
}